/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f3f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Home button */
header {
    position: absolute;
    top: 10px;
    left: 10px;
}

#backButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6FD1C5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backButton:hover {
    background-color: #5BAA9D;
}

/* Main content styling */
.header-container h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
}

.header-container h1 {
    font-size: 48px;
    color: #555;
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
}

.dates {
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}

/* Success rate box */
.success-box {
    position: relative;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}

.blue-gradient-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(181, 214, 249, 0.7), transparent);
    border-radius: 50%;
    z-index: 0;
    filter: blur(15px);
}

.challenge-text {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
    position: relative;
    z-index: 1;
}

.success-text {
    position: relative;
    z-index: 1;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin: 20px 0 10px;
}

.message {
    font-size: 20px;
    color: #FF4500; /* Fighting message in red */
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/* 로고 컨테이너 스타일 */
.logo-container {
    position: absolute;
    top: 40px; /* 상단 여백 */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* 다른 요소 위에 표시 */
}

/* 둥둥 떠다니는 애니메이션 */
.floating-logo {
    width: 100px; /* 로고 크기 */
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}
