/* Basic Page Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F8FAFD;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Main Container Styles */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Left Section */
.left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding-left: 50px;
}

.main-image-container {
    margin-bottom: 20px;
}

.main-image {
    width: 200px;
    height: auto;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

header #main-title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.user-welcome {
    font-size: 1.5rem;
    color: #555;
    margin: 0;
    font-weight: bold;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

.small-message {
    font-size: 20px;
    color: #666;
    margin-top: 5px;
    font-weight: normal;
    text-align: left;
}

/* Right Section */
.right-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.button-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
    width: 300px;
}

.button-container button {
    background-color: #6FD1C5;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 28px 33px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button-container button:hover {
    background-color: navajowhite;
    transform: scale(1.05);
}

/* Footer Styles */
footer p {
    font-size: 0.9rem;
    color: #666;
    position: absolute;
    bottom: 10px;
    right: 20px;
    margin: 0;
}
/* 로고 둥둥 떠다니는 애니메이션 */
.floating-logo {
    width: 250px; /* 이미지 크기 설정 */
    animation: float 3s ease-in-out infinite; /* 애니메이션 설정 */
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px); /* 위로 살짝 이동 */
    }
    100% {
        transform: translateY(0px); /* 원위치 */
    }
}
