<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Success Rate</title>
    <link rel="stylesheet" href="Challenge_Endpage.css">
</head>
<body>
<!-- Home Button -->
<header>
    <button id="homeButton" onclick="location.href='/'">Home</button>
</header>

<main>
    <!-- Header Section -->
    <div class="header-container">
        <h2 id="challengeTitle" th:text="${title}">Your Challenge</h2>
        <h1>D - <span id="remainingDays" th:text="${remaining_days}">N/A</span></h1>
        <p class="dates" id="challengeDates" th:text="|${start_date} - ${finished_at}|">N/A - N/A</p>
    </div>

    <!-- Success Rate Box -->
    <div class="success-box">
        <div class="blue-gradient-circle"></div>
        <p class="challenge-text">
            Out of <span id="totalDays" th:text="${duration}">50</span> days of challenges,
        </p>
        <p class="challenge-text">
            <span id="completedDays" th:text="${count}">0</span> days of challenges are successful
        </p>

        <!-- Success Rate -->
        <div class="success-text" id="successRate" th:text="|${progress_rate}% success!|">0.00% success</div>

        <!-- Conditional Success Message -->
        <p class="message" id="resultMessage"></p>
    </div>
</main>

<script src="Challenge_Endpage.js"></script>
</body>
</html>
