<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time-To-Do Main</title>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}">

</head>
<body>
<!-- 메인 컨테이너 -->
<div class="main-container">
    <!-- 왼쪽 섹션: 로고와 환영 문구 -->
    <div class="left-section">
        <div class="main-image-container">
            <img th:src="@{/img/logo.png}" alt="Time-To-Do Logo" class="main-image">
        </div>
        <header>
            <!-- 사용자 ID를 JavaScript에서 설정 -->
            <p id="user-welcome" class="user-welcome">Hi, Guest!</p>
            <h1 id="main-title" class="fade-in">Welcome to "Time-To-Do!"</h1>
            <p id="time-to-do" class="small-message">Now, It's your time to do!😁</p>
        </header>
    </div>

    <!-- 오른쪽 섹션: 버튼 -->
    <div class="right-section">
        <div class="button-container">
            <button th:onclick="|window.location.href='@{/api/v1/todolist/page/DAY}'|">To-Do Mode ✔️</button>
            <button th:onclick="|window.location.href='@{/api/v1/challenges/create}'|">Challenge Mode 🎯</button>
            <button th:onclick="|window.location.href='@{/calendar}'|">Calendar 📆</button>
            <button th:onclick="|window.location.href='@{/performance}'|">Performance Analysis 📊</button>
        </div>
    </div>
</div>

<!-- 개발자 정보 -->
<footer>
    <p>Developers: Lee Ji Won, Hong Min Ji, Song Seo Ha, Lee So Dam, Lee Ye Eun, Kim Ha Jin</p>
</footer>

</body>
</html>
